<%= paginator.render do %>
  <nav>
    <ul class="pagination", id="pagination-id">
      <%= first_page_tag unless current_page.first? %>
      <%= prev_page_tag unless current_page.first? %>
      <% each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end %>
      <% end %>
      <%= next_page_tag unless current_page.last? %>
      <%= last_page_tag unless current_page.last? %>
    </ul>
  </nav>
<% end %>

<style type="text/css">
  ul.pagination {display: flex !important;}

  /*.page-item {
      width: -webkit-fill-available;
  }*/

  /*.pagination {
      border: solid;
  }*/

  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }

  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }

  .pagination a:hover:not(.active) {background-color: #34cceb;}

  .pagination {
    display: inline-block;
  }

  .current-page-link {
      background: cornflowerblue;
  }

</style>

<script type="text/javascript">
  var elements = document.getElementById("pagination-id").children
  for (var i = 0; i < elements.length; i++) {
     if (elements[i].classList.contains("active")) {
       elements[i].children[0].className = "current-page-link";
     }
  }
</script>
